.Home {
    width: 100%;
    height: 100%;
    
    background: url('../../images/stars.svg'), #28a343;
    background-repeat: repeat;
    color: #ffffff;
  
    display: flex;
    align-items: center;
  }
  
  .Home__col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(5, 56, 32);
  }
  
  @media screen and (min-width: 768px) {
    .Home__col {
      align-items: flex-start;
    }
  }
  